/* --------------------------------------------- UTLITIES */


/* --------------------------------------------- TAGS */
body {
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

a {
    color: #949CAF;
    font-style: normal;
    text-decoration: none;
    margin-left: 20px;
}

h5 {
    margin-left: 20px;
    margin-bottom: 0px;
}

/* --------------------------------------------- LEFT NAV */
.left-nav {
    background-color: #354052;
    width: 13%;
    height: 100%;
    color: #949CAF;
    display: flex;
    flex-direction: column;
}

.profile-box {
    width: 100%;
    border-bottom: 2px solid #949CAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 80px;
    width: 80px;
    padding: 20px 20px 20px 20px;
    margin-bottom: -25px;
    border-radius: 50%;
}

.main-links,
.admin-links,
.categories-links {
    width: 100%;
    border-bottom: 2px solid #949CAF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}
.categories-links {
    font-size: 10px;
}

/* --------------------------------------------- TOP CONTAINER*/
.top-container {
    background-color: #FFFFFF;
    width: 90%;
    height: 100%;
    color: #949CAF;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: stretch;
}

.search-container { 
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}
.search-form {
    width: 800px;
}

.search-input {
    width: 93%;
    height: 35px;
    margin-top: 23px;
}

.search-btn {
    height: 39px;
    width: 40px;
    background-color: #FFFFFF;
    border: 1px 1px 1px 0px #000000;
    border-style: hidden;
}

.search-btn2 {
    display: flex;
    align-self: flex-start;
    margin: 32px 0px 0px 10px;
}

/* --------------------------------------------- HEADER CONTAINER*/
.header-container {
    display: flex;
    flex-direction: row;
}

.job-title {
    margin-left: 25px;
}

.job-location {
    margin: -19px 0px 0px 25px;
    font-size: 12px;
}

.preview {
    margin: 0px 0px 0px 0px;
    color: #0786bc;
}

.side-btns {
    display: flex;
    flex-direction: row-reverse;
    margin: -10px 0px 0px 0px;
    border: none;
    border-radius: 50%;
}

.tablink {
    background-color: #FFFFFF;
    color: #949CAF;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 13px;
    width: 13%;
}

.tablink:hover {
    border-bottom: 10px;
    border-color: #0786bc;
    border-style: solid;
}

.tabcontent {
    display: flex;
    background-color: aliceblue;
    height: 300px;
    width: 90%;
}

.chart1,
.chart2,
.chart3 {
    height: 100px;
    width: 200px;
    align-self: center;
}

.chart4 {
    height: 200px;
    width: 400px;
}











/* --------------------------------------------- LEFT NAV */
